interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.test.datacite.org/providers?page%5Bsize%5D=100&page%5Bcursor%5D=0
  response:
    body:
      string: "{\"data\":[{\"id\":\"ands\",\"type\":\"providers\",\"attributes\":{\"name\":\"Australian
        Research Data Commons\",\"displayName\":\"Australian Research Data Commons\",\"symbol\":\"ANDS\",\"website\":\"https://ardc.edu.au\",\"description\":\"The
        Australian National Data Service (ANDS) makes Australia's research data assets
        more valuable for researchers, research institutions and the nation.\\n\\nWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia's
        research data system.\\n \\nA key ANDS service is the [Research Data Australia](http://researchdata.ands.org.au/)
        discovery portal wh[...]
