interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.test.datacite.org/providers/totals
  response:
    body:
      string: "[{\"id\":\"figshare\",\"title\":\"figshare\",\"count\":606441,\"temporal\":{\"this_month\":[{\"id\":\"2021\",\"title\":\"2021\",\"count\":44170}],\"this_year\":[{\"id\":\"2021\",\"title\":\"2021\",\"count\":329858}],\"last_year\":[{\"id\":\"2020\",\"title\":\"2020\",\"count\":170217}],\"two_years_ago\":[{\"id\":\"2019\",\"title\":\"2019\",\"count\":104611}]},\"states\":[{\"id\":\"findable\",\"title\":\"Findable\",\"count\":338857},{\"id\":\"registered\",\"title\":\"Registered\",\"count\":267584}]},{\"id\":\"bl\",\"title\":\"The
        British Library\",\"count\":124086,\"temporal\":{\"this_month\":[{\"id\":\"2021\",\"title\":\"2021\",\"count\":3385}],\"this_year\":[{\"id\":\"2021\",\"title\":\"2021\",\"count\":55801}],\"last_year\":[{\"id\":\"2020\",\"title\":\"2020\",\"count\":31207}],\"two_years_ago\":[{\"id\":\"2019\",\"title\":\"2019\",\"count\":30887}]},[...]
