interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.test.datacite.org/providers/bl
  response:
    body:
      string: '{"data":{"id":"bl","type":"providers","attributes":{"name":"The British
        Library","displayName":"The British Library","symbol":"BL","website":"https://www.british.co.uk","description":null,"region":"EMEA","country":"GB","logoUrl":"https://assets.test.datacite.org/images/members/bl.png?1602684228","memberType":"direct_member","organizationType":null,"focusArea":"general","nonProfitStatus":"non-profit","isActive":true,"joined":null,"rorId":"https://ror.org/05dhe8b71","created":"2010-01-01T00:00:00.000Z","updated":"2020-10-14T14:03:48.000Z"},"relationships":{"clients":{"data":[{"id":"bl.ukda","type":"clients"},{"id":"bl.test","type":"clients"},{"id":"bl.esds-i","type":"clients"},{"id":"bl.wap","type":"clients"},{"id":"bl.oxdb","type":"clients"},{"id":"bl.sagecite","type":"clients"},{"id":"bl.nerc","type":"clients"},{"id":"bl.ads","type":"clients"},{"id":"bl.stfc","type":"clients"},{"id":"bl.fba","type":"clients"},{"id":"bl.test3","type":"clients"},{"id":"bl.ucld","type":"clients"},{"id":"bl.old-api","type":"clients"},{"id":"bl.diamond","type":"clients"},{"id"[...]
