interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.test.datacite.org/dois?page%5Bsize%5D=100&page%5Bcursor%5D=0
  response:
    body:
      string: "{\"data\":[{\"id\":\"10.1594/ieda/100004\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.1594/ieda/100004\",\"identifiers\":[],\"creators\":[{\"name\":\"Shaw,
        Allison\",\"nameType\":\"Personal\",\"givenName\":\"Allison\",\"familyName\":\"Shaw\",\"affiliation\":[],\"nameIdentifiers\":[{\"nameIdentifier\":\"7402248925\",\"nameIdentifierScheme\":\"SCOPUS\"}]}],\"titles\":[{\"title\":\"Gakkel
        Ridge basalt melt inclusion and mineral chemistry\"}],\"publisher\":\"EarthChem\",\"container\":{},\"publicationYear\":2011,\"subjects\":[{\"subject\":\"Regional
        (Continents, Oceans)\",\"subjectScheme\":\"coverage scope\"},{\"subject\":\"Spreading
        Center\",\"subjectScheme\":\"IEDA Feature of Interest\"},{\"subject\":\"Chemistry:Rock\",\"subjectScheme\":\"IEDA
        Data Type\"},{\"subject\":\"Mineralogy\",\"subjectScheme\":\"IEDA Data Type\"},{\"subject\":\"Geochemistry\",\"subjectScheme\":\"IEDA
        Topic\"},{\"subject\":\"FOS: Earth and related environmental sciences\",\"schemeUri\":\"http://www.oecd.org/science/inno/38235147.pdf\",\"subjectScheme\":\"Fields
        of Science and Technology (FOS)\"},{\"subject\":\"FOS: Earth and related environmental
        sciences\",\"subjectScheme\":\"Fields of Science and Technology (FOS)\"},{\"subject\":\"Marine
        Geoscience\",\"subjectScheme\":\"IEDA Topic\"},{\"subject\":\"Solid Earth\",\"subjectScheme\":\"IEDA
        Topic\"},{\"subject\":\"Carbon dioxide Flux\",\"subjectScheme\":\"parameter\"},{\"subject\":\"melting\",\"subjectScheme\":\"subject\"},{\"subject\":\"Ridge
        related\",\"subjectScheme\":\"program\"},{\"subject\":\"ultra-slow spreading
        ridges mantle\",\"subjectScheme\":\"subject\"},{\"subject\":\"volatiles\",\"subjectScheme\":\"material\"},{\"subject\":\"Arctic
        Ocean\",\"subjectScheme\":\"place\"},{\"subject\":\"Gakkel Ridge\",\"subjectScheme\":\"place\"}],\"contributors\":[],\"dates\":[{\"date\":\"2011-02-19\",\"dateType\":\"Available\"},{\"date\":\"2012-03-14\",\"dateType\":\"Created\"},{\"date\":\"2011\",\"dateType\":\"Issued\"}],\"language\":\"en\",\"types\":{\"ris\":\"DATA\",\"bibtex\":\"misc\",\"citeproc\":\"dataset\",\"schemaOrg\":\"Dataset\",\"resourceType\":\"Dataset\",\"resourceTypeGeneral\":\"Dataset\"},\"relatedIdentifiers\":[{\"relationType\":\"IsReferencedBy\",\"relatedIdentifier\":\"10.1016/j.epsl.2009.11.018\",\"relatedIdentifierType\":\"DOI\"}],\"sizes\":[],\"formats\":[\"application/vnd.ms-excel\"],\"version\":null,\"rightsList\":[{\"rights\":\"Creative
        Commons Attribution-NonCommercial-Share Alike 3.0 United States [CC BY-NC-SA
        3.0]\",\"rightsUri\":\"https://creativecommons.org/licenses/by-nc-sa/3.0/us\"}],\"descriptions\":[{\"description\":\"Analyses
        of volatile, major, and trace elements for a suite of glasses and melt inclusions
        from the 85 degrees E segment of the ultra-slow spreading Gakkel Ridge.\",\"descriptionType\":\"Abstract\"},{\"description\":\"Shaw,
        A. M., M. D. Behn, et al. (2010). \\\"Deep pooling of low degree melts and
        volatile fluxes at the 85 degrees E segment of the Gakkel Ridge: Evidence
        from olivine-hosted melt inclusions and glasses.\\\" Earth and Planetary Science
        Letters 289(3-4): 311-322.\",\"descriptionType\":\"Other\"}],\"geoLocations\":[{\"geoLocationPlace\":\"Gakkel
        Ridge Arctic Ocean\"},{\"geoLocationBox\":{\"eastBoundLongitude\":\"85.5817\",\"northBoundLatitude\":\"85.6263\",\"southBoundLatitude\":\"85.5945\",\"westBoundLongitude\":\"85.1788\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.5945\",\"pointLongitude\":\"85.5275\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.5992\",\"pointLongitude\":\"85.5817\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.6047\",\"pointLongitude\":\"85.2517\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.6048\",\"pointLongitude\":\"85.2845\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.6063\",\"pointLongitude\":\"85.1788\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.6113\",\"pointLongitude\":\"85.199\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.6138\",\"pointLongitude\":\"85.3242\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.6138\",\"pointLongitude\":\"85.3547\"}},{\"geoLocationPoint\":{\"pointLatitude\":\"85.6263\",\"pointLongitude\":\"85.2398\"}}],\"fundingReferences\":[{\"awardUri\":\"http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0646694\",\"funderName\":\"National
        Science Foundation\",\"awardNumber\":\"0646694\"},{\"awardUri\":\"http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0926422\",\"funderName\":\"National
        Science Foundation\",\"awardNumber\":\"0926422\"},{\"awardUri\":\"http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0649103\",\"funderName\":\"National
        Science Foundation\",\"awardNumber\":\"0649103\"},{\"awardUri\":\"http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0425838\",\"funderName\":\"National
        Science Foundation\",\"awardNumber\":\"0425838\"}],\"url\":\"http://doi.iedadata.org/100004\",\"contentUrl\":null,\"metadataVersion\":9,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":1,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2011-04-14T04:27:34Z\",\"registered\":\"2011-04-14T04:27:34Z\",\"published\":null,\"updated\":\"2020-08-14T20:32:19Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"tib.ldeo\",\"type\":\"clients\"}}}},{\"id\":\"10.4224/17210689\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.4224/17210689\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.4224/17210689\",\"identifierType\":\"DOI\"},{\"identifier\":\"17210689\",\"identifierType\":\"nparc_id\"},{\"identifier\":\"TR-2010-22\",\"identifierType\":\"Technical
        Report Series\"}],\"creators\":[{\"name\":\"Derradji-Aouat, Ahmed\",\"nameType\":\"Personal\",\"givenName\":\"Ahmed\",\"familyName\":\"Derradji-Aouat\",\"affiliation\":[\"IOT\"],\"nameIdentifiers\":[{\"nameIdentifier\":\"10200\",\"nameIdentifierScheme\":\"NRCPID\"}]}],\"titles\":[{\"lang\":\"en\",\"title\":\"Numerical
        Work for Oceanide Project - A Progress Report\"}],\"publisher\":\"National
        Research Council Canada\",\"container\":{},\"publicationYear\":2011,\"subjects\":[{\"lang\":\"en\",\"subject\":\"Experimental\"},{\"lang\":\"en\",\"subject\":\"numerical\"},{\"lang\":\"en\",\"subject\":\"ice
        ridges\"},{\"lang\":\"en\",\"subject\":\"strain rates\"}],\"contributors\":[{\"name\":\"NRC
        Institute For Ocean Technology\",\"nameType\":\"Organizational\"[...]
